{{> header }}
<body>
  <main class="bg-light">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4 mt-4">
            <img src="{{bug.image_file}}" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

            <div class="row align-items-center mb-4">
<<<<<<< HEAD
              <div class="col-lg-12 text-center text-lg-start mb-3 m-lg-0">
                <span> Published <u>{{bug.created_at}}</u> by</span>
=======
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <span> Published <u>{{format_date bug.created_at}}</u> by</span>
>>>>>>> develop
                <a href="" class="text-dark">{{bug.user.username}}</a>
                {{#if loggedIn}}
                <button id="upvote" class="btn">🔝{{bug.upvote_count}} {{format_plural "upvote" bug.upvote_count}}</button>
                {{/if}}
              </div>
            </div>
          </section>

          <!--Section: Text-->
          <section class="mb-5">
            <p class="fs-3 fw-bold">
              {{bug.question}}
            </p>
          </section>

          <!--Section: Comments-->
          <section class="border-bottom mb-3">
            <h2 class="text-center"><strong>See comments</strong></h2>

            <!-- Comment -->
            <div class="comments row">
              {{#each bug.comments}}
              <div class="meta fw-bold">
                {{user.username}} on {{created_at}}
              </div>
              <div class="comment col-10">
                <p>
                  {{comment_text}}
                </p>
              </div>
              {{/each}}
            </div>

            <!--Section: Reply-->
            {{#if loggedIn}}
            <section>
              <h2 class="text-center"><strong>Leave a comment</strong></h2>

              <form id="comment-form">
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea name="comment-body" class="form-control" id="form4Example3" rows="4"></textarea>
                  <label class="form-label" for="form4Example3"></label>
                </div>

                <!-- Submit button -->
                <button id="comment" type="submit" class="btn btn-primary btn-block mb-4">
                  Add Comment
                </button>
              </form>
            </section>
            {{/if}}
            <!--Section: Reply-->
        </div>
      </div>
      <!--Grid row-->
    </div>
</body>

 {{#if loggedIn}}
  <script src="/assets/js/comment.js"></script>
  <script src="/assets/js/upvote.js"></script>
  {{/if}}
  {{> footer}}